@media (max-width: 1200px) {
    .header__hero {
        padding-bottom: 50px;
    }

    .hero__inner {
        align-items: center;
    }

    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* ======================================================== */


    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    /* ======================================================== */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }

    .footer__col-tel {
        align-items: center;
    }

    .footer__col-copy {
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1 / -1;
    }

    /* --------------------- */

    .accordion-list__control {
        font-size: 35px;
        padding: 25px 30px;
    }

    .accordion-content {
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .header__top {
        margin-bottom: 20px;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 25vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ----------------------- */

    .program__action {
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
        max-width: none;
    }

    .program__img {
        display: none;
    }

    /* ----------------------- */

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 30px;
    }

    .socials__list {
        justify-content: center;
    }



}

@media (max-width: 800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    /* ---------------- */

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

    /* ======================================================== */

    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
    }

    .tab-controls {
        gap: 10px;
        justify-content: center;
    }

    .tab-controls__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }

}

@media (max-width: 600px) {

    .main__about {
        padding: 40px 0 60px;
    }

    .main__program {
        padding: 0 0 80px;
    }

    /* ---------------- */

    .title {
        font-size: 12vw;
    }

    /* ---------------- */

    .about__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    .about__grid {
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;
    }

    /* ---------------- */

    .program__top {
        margin-bottom: 20px;
    }

    .program__action {
        grid-template: repeat(3, auto) / repeat(2, auto);
        gap: 15px;
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1 / -1;
        justify-self: center;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 8px;
    }
}

@media (max-width: 450px) {
    .modal__window {
        padding: 0 15px 45px;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__img {
        width: 50%;
        margin-top: -45px;
    }

    /* ---------------------- */

    .program__action {
        grid-template: none;
    }

    .program__price {
        text-align: center;
    }

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }
}